
@{
    ViewBag.Title = "Add Movie";
    var directors = (MultiSelectList)ViewData["directors"];
}

<h2>@ViewBag.Title</h2>
<p style="color: darkorange">@ViewBag.Message</p>

<form action="~/Movies/Add" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="tbName">Name</label>
        <input type="text" class="form-control" id="tbName" name="Name">
    </div>
    <div class="form-group">
        <label for="ddlProductionYear">ProductionYear</label>
        @*<input type="text" class="form-control" id="tbProductionYear" name="ProductionYear">*@
        <select id="ddlProductionYear" name="ProductionYear" class="form-control">
            @for (int i = DateTime.Now.Year; i >= 1980; i--)
            {
                <option value="@i">@i</option>
            }

        </select>
    </div>
    <div class="form-group">
        <label for="tbBoxOfficeReturn">BoxOfficeReturn</label>
        <input type="text" class="form-control" id="tbBoxOfficeReturn" name="BoxOfficeReturn">
    </div>

    <div class="form-group">
        <label for="ddlDirectors">Directors</label>
        <select id="ddlDirectors" class="form-control" name="Directors" multiple>
            @foreach (var director in directors)
            {
                <option value="@director.Value">@director.Text</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="fuImage">Image</label>
        <input type="file" name="Image" accept="image/*" id="fuImage" @*multiple*@/>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    &nbsp;
    <button type="reset" class="btn btn-warning">Clear</button>
</form>
