@*@model List<_036_MoviesMvcWissen.Entities.Movie>*@

@model _036_MoviesMvcWissen.Models.ViewModels.MoviesIndexViewModel

@using _036_MoviesMvcWissen.Helpers

@*@Html.Action("Welcome")*@
@{
    Html.RenderAction("Welcome");
}

@{
    ViewBag.Title = "Movies";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Movie Reports", "Movies", "Reports")
<br />
<br />

<br />
@using (Html.BeginForm("Index", "Movies", FormMethod.Get))
{
    <table class="table">
        <tr>
            <td>

            </td>
        </tr>
        <tr>
            <td style="width:auto">
                Production Year:
            </td>
            <td>
                @Html.DropDownList("YearId", Model.Year, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.Button("Filter", "btn btn-success", "submit")
            </td>
        </tr>
    </table>
}


<i class="fa fa-plus" aria-hidden="true"><a href="~/Movies/Add">Add Movie</a></i>


<br />

<alert class="text-success">@TempData["Info"]</alert>
<br />

@*<span>@Model.Count records found</span>*@
@*<span>@ViewData["count"] records found.</span>*@
<span>@ViewBag.count records found.</span>


<table class="table">
    @*<tr>
            <td></td>
            <td>
                <b>Name</b>
            </td>
            <td>
                <b>Production Year</b>
            </td>
            <td>
                <b>Box Office Return</b>
            </td>
        </tr>*@
    @foreach (var movie in Model.Movies)
    {
        <tr>
            <td>
                @Html.ActionLink(" ", "Details", new { id = movie.Id }, new { @class = "fa fa-info text-warning" }) |
                &nbsp;
                @Html.ActionLink(" ", "Edit", new { id = movie.Id }, new { @class = "fa fa-pencil-square-o text-success" }) |
                &nbsp;
                @Html.ActionLink(" ", "Delete", new { id = movie.Id }, new { @class = "fa fa-trash text-danger" })
            </td>
            <td>
                @{
                    if (movie.FilePath != null)
                    {
                        @*var file = movie.Id + ".jpg";
                        <img src="../../Files/Movies/@file" width="200" height="200" />*@
                        <img src="../../@movie.FilePath" width="100" height="100" />
                    }
                }
            </td>
            <td>
                @{
                    @movie.Name
                }
            </td>
            <td>
                @{
                    @movie.ProductionYear
                }
            </td>
            <td>
                @{
                    @movie.BoxOfficeReturn
                }
            </td>
        </tr>
    }
</table>

